html {
	margin: 0;
	padding: 0;
	}
body { 
    font-family: "ff-meta-web-pro", sans-serif;
	line-height: 1.88889;
	color: #555753; 
	margin: 20px; 
	padding: 0;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
abbr {
	border-bottom: none;
	}

div.header
{
	background: steelblue ;
	color: white;
	padding:20px;

}

div.main
{
	background: firebrick ;
	color: white;
	padding:20px;

}

div.footer
{
	background: darkolivegreen ;
	color: white;
	padding:20px;

}

div.stats
{
	text-align:center;
	font-size:xx-small;
}

table.detail, table.detail>td
{
	color: white;
	border: 1px solid white;
	padding:20px;

}
